openapi: 3.0.1
info:
  title: Notification Service
  description: This is swagger Api documentation for notification service.
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.5
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://devapigateway.hub.inc/v1
tags:
- name: notification
  description: Everything about notification
  
paths:
  /notification:
    post:
      tags:
      - notification
      summary: Add a new notification
      operationId: addNotification
      parameters:
      - name: x-selected-tenant
        in: header
        description: ID of tenant
        required: true
        schema:
          type: string
      requestBody:
        description: ID of notificataion assigne
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
        required: true
      responses:
        201:
          description: Notification create successful
          content: {}
      x-codegen-request-body-name: body
      security:
      - bearerAuth: []  
  /notification/{asigneeId}:
    get:
      tags:
      - notification
      summary: Add a new notification
      operationId: listNotification
      parameters:
      - name: assignId
        in: path
        description: Notification list with assignId
        required: true
        schema:
          type: string
      responses:
        200:
          description: Notification list successful
          content: {}
      security:
      - bearerAuth: []  
  /notification/{notificationId}/{userId}:
    put:
      tags:
      - notification
      summary: Update for read a notification
      operationId: readNotification
      parameters:
      - name: notificationId
        in: path
        description: Notification Id
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: User Id
        required: true
        schema:
          type: string
      responses:
        200:
          description: Update for read notification successful
          content: {}
      security:
      - bearerAuth: []  
  /notification/{notificationId}/{userId}/delete:
    put:
      tags:
      - notification
      summary: Update for read a notification
      operationId: deleteNotification
      parameters:
      - name: notificationId
        in: path
        description: Notification Id
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: User Id
        required: true
        schema:
          type: string
      responses:
        200:
          description: Delete for read notification successful
          content: {}
      security:
      - bearerAuth: []  
components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Notification:
      type: object
      properties:
        asigneeId:
          type: string
        ownerId:
          type: string
        type:
          type: string
        body: 
              $ref: '#/components/schemas/Body'
    Body :  
      type: object
      properties:
        evaluationID :
          type: string  
        evaluationName:
          type: string


